/**
 * NAVBAR
 * Barra de navegación horizontal
 *
 * <nav class="dd-navbar">
 *   <div class="dd-navbar__left">
 *     <ul class="dd-navbar-nav">
 *       <li class="dd-active"><a href=""></a></li>
 *       <li class="dd-parent"><a href=""></a></li>
 *       <li><a href=""></a></li>
 *     </ul>
 *   </div>
 * </nav>
 */

 .dd-navbar {
   display: flex;
   user-select: none;
 }

 .dd-navbar__left,
 .dd-navbar__right,
 .dd-navbar__center {
   display: flex;
   align-items: center;
 }
