body {
  padding-top: 81px;
  background: #FCFCFC;
  font-size: 17px;
  line-height: 30px;
}

body.close .sidebar-toggle {
  width: 50px;
}

.opening {
  color: #7f8c8d;
  font-style: italic;
  font-size: 20px;
  max-width: 600px;
  margin-top: -.4em !important;
}

.small {
  font-size: .9em;
  font-style: italic;
  line-height: 1.3 !important;
  max-width: 500px;
}

.micro {
  color: #7f8c8d !important;
  font-size: .7em;
}

.sidebar {
  top: 80px;
  width: 240px;
  padding: 40px 40px 60px 40px;
  background-color: #FCFCFC;
}

.sidebar ul,
.sidebar ul li {
  font-size: 14px;
}

.sidebar li {
  margin: 0;
}

.sidebar li>p {
  font-size: 18px;
  margin: 10px 0;
}

.sidebar ul li a {
  font-size: 15px;
  color: #7f8c8d;
}

.sidebar ul li.active>a {
  border-right: 0;
}

@media (min-width: 1400px) {
  .sidebar {
    width: 300px !important;
    padding: 45px 45px 60px 45px;
  }
}

.app-sub-sidebar li:before { display: none; }

.sidebar .app-sub-sidebar a {
  font-size: 14px;
  color: #34495e;
  padding-left: 15px;
  line-height: 24px;
}

.sidebar-toggle {
  background: none;
  top: 0;
  height: 80px;
  bottom: inherit;
  left: 0;
  width: 50px;
  cursor: pointer;
  padding-top: 13px;
  transition: all .25s ease-out;
  background: #2badc4;
}

.sidebar-toggle-button span {
  background-color: white;
  width: 17px;
  margin-left: 8px;
}

.header {
  position: fixed;
  left: 50px;
  width: calc(100% - 50px);
  top: 0;
  background-color: rgba(250,250,250,0.95);
  height: 80px;
  padding: 10px 15px 10px 5px;
  z-index: 100;
  background: #2badc4;
  transition: all .25s ease-out;
}

.header__logo,
.header__title {
  display: inline-block;
  font-size: 1.5em;
  line-height: 60px;
  color: white;
  font-family: "Dosis", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
  text-decoration: none;
}

.header__logo img {
  vertical-align: middle;
  margin-right: 10px;
  width: 35px;
  height: 35px;

  /* Específico para Airzone */
  vertical-align: -9px;
}

.header__nav {
  position: fixed;
  list-style-type: none;
  margin: 0;
  padding: 0;
  right: 30px;
  top: 20px;
  height: 40px;
  line-height: 40px;
  transition: all .25s ease-out;
}

.header__nav li {
  display: inline-block;
  position: relative;
  margin: 0 0.6em;
}

.header__nav__link {
  cursor: pointer;
  padding-bottom: 3px;
  white-space: nowrap;
  text-decoration: none;
  color: white;
}

.header__nav__link:hover {
  border-bottom: 3px solid white;
}

.header__nav__link.current {
  border-bottom: 3px solid white;
}

.header__nav__dropdown__container {
  padding-right: 10px;
}

.header__nav__dropdown__container:hover .header__nav__dropdown {
  display: block;
}

.header__nav__dropdown__container .header__nav__link:hover:not(.current) {
  border-bottom: none;
}

.header__nav__dropdown__container .arrow {
  pointer-events: none;
  display: inline-block;
  vertical-align: middle;
  margin-top: -1px;
  margin-left: 6px;
  margin-right: -14px;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 5px solid rgba(255,255,255,.5);
}

.header__nav__dropdown {
  display: none;
  box-sizing: border-box;
  max-height: calc(100vh - 61px);
  overflow-y: auto;
  position: absolute;
  top: 100%;
  right: -15px;
  background-color: #fafafa;
  padding: 10px 0;
  border: 1px solid #ddd;
  border-bottom-color: #ccc;
  text-align: left;
  border-radius: 4px;
  white-space: nowrap;
}

.header__nav__dropdown li {
  line-height: 1.8em;
  margin: 0;
  display: block;
}

.header__nav__dropdown h4 {
  margin: 0.45em 0 0;
  padding-top: 0.45em;
  border-top: 1px solid #eee;
  padding: 0 24px 0 20px;
  font-weight: 600;
  color: #2c3e50;
}

.header__nav__dropdown li:first-child h4 {
  margin-top: 0;
  padding-top: 0;
  border-top: 0;
}

.header__nav__dropdown li ul {
  padding-left: 0;
}

.header__nav__dropdown a {
  color: #3a5169;
  font-size: 0.9em;
  display: block;
  padding: 0 24px 0 20px;
}

.header__nav__dropdown a.current {
  border-bottom: none;
}

.markdown-section h2 {
    font-size: 1.5rem;
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.markdown-section code,
.markdown-section pre,
.markdown-section pre>code,
.markdown-section p.tip {
  background-color: #F1F1F1;
}

.markdown-section tr:nth-child(2n) {
  background-color: transparent;
}

.markdown-section th { white-space: nowrap; }
.markdown-section table { font-size: 16px; }

.markdown-section code { color: #2badc4; }

pre:after {
  text-transform: uppercase;
  color: #9fa8a9;
  font-weight: inherit;
  letter-spacing: 0.08em;
}

.demoContainer {
  width: 1px; min-width: 100%;
  border: 0 !important;
}

.tag {
  background-color: #F1F1F1;
  border-radius: 5px;
  font-size: 0.9rem;
  line-height: 1rem;
  margin: 0 2px;
  padding: 3px 10px 4px;
  white-space: pre-wrap;
  display: inline-block;
}
