/**
 * COLORS SETTINGS
 */

// Colores de marca
$color-brand-map: (
  brand:        #2badc4,
  brand-dark:   darken(#2badc4, 5%),
  brand-light:  lighten(#2badc4, 5%),
  teal:         #00bfa5,
  teal-dark:    darken(#00bfa5, 5%),
  teal-light:   lighten(#00bfa5, 5%),
  purple:       #6d5cae,
  purple-dark:  darken(#6d5cae, 5%),
  purple-light: lighten(#6d5cae, 5%)
) !default;


// Colores escala de grises
$color-gray-map: (
  black: #000000,
  gray1: #34495e,
  gray2: #555555,
  gray3: #777777,
  gray4: #999999,
  gray5: #cccccc,
  gray6: #d5d5d5,
  white: #ffffff
) !default;


// Colores para notificaciones
$color-notify-map: (
  success: #67c23a,
  warning: #e6a23c,
  danger:  #f56c6c,
  info:    #909399
) !default;
